.mvn/
.settings/
gradle/
target/
src/test/
src/main/webapp/
src/main/resources/static/img
src/main/resources/application.properties
WebContent/
.classpath
.project
.springBeans
build.gradle
docker-compose.yml
gradlew
gradlew.bat
mvnw
mvnw.cmd
.ftpconfig
