@charset "utf-8";



/*----------------------------- BASE -----------------------------*/


html {
  font-size: 62.5%; /*10px(root)*/
  overflow-y: scroll;
}
 
img,
iframe {
  width: 100%;
}

a {
  color: rgb(0, 163, 175);
}

body {
  font-size: 1.4rem; /*basic(14px)*/
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  text-align: justify;
  word-break: break-all;
}



/*----------------------------- HEADER -----------------------------*/


header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  
  left: 0;
  width: 90%;  
  padding: 15.34px 5%; /*767px*2%*/
  
  z-index: 20;
}
@media screen and (min-width: 768px) {
  header {
    padding: 2% 5%;
  }
}
@media screen and (min-width: 960px) {
  header {
    left: auto;
    width: 864px; /*bodyWidth*/
    width: 100%;
    padding: 19.2px 0; /*960px*2%*/
    justify-content: center;
  }
}


header .logo {
  width: 241.605px; /*767px*90%*35%*/
  height: 100%;
    
  /*border: 1px solid #000; box-sizing: border-box; --- FOR_DEBUG */
}
@media screen and (min-width: 768px) {
  header .logo {
    width: 35%;
  }
}
@media screen and (min-width: 960px) {
  header .logo {
    width: 302.4px; /*960px*90%*35%*/
    margin-right: 28.8px;
  }
}



/*----------------------------- HEADER.NAV / HAMBURGUR_MENU -----------------------------*/


header nav {
  width: auto;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 3rem;
  
  /*border: 1px solid #000; box-sizing: border-box; --- FOR_DEBUG */
}
@media screen and (min-width: 768px) {
  header nav {
    width: 62%;
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 960px) {
  header nav {
    width: 535.68px; /*960px*90%*62%*/
  }
}


header nav li {
	margin-bottom: 25%;
}
@media screen and (min-width: 768px) {
  header nav li {
    margin-bottom: 0;
  }
}


header nav #ham-menu-cb {
  display: none;
}


header nav #ham-menu-icon {
  display: none;
  
  position: relative;
  cursor: pointer;
  border: solid 1px #000;
  width: 55.224px; /*logo700:160=241.605:Xpx*/
  height: 55.224px;
  line-height: 55.224px; /*vertical*/
  text-align: center;  
  font-size: 3rem; 
  z-index: 1000; 
}
@media screen and (max-width: 767px) {
  header nav #ham-menu-icon {
    display: block;    
  }
}


header nav ul {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  header nav ul {
    display: inline; /*default*/
  }
  
  header nav div.ham-menu {
    opacity: 0;
    display: block;
    position: absolute;
    pointer-events: none;
    top: 45px;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	-o-transform: translate(-50%,0);
	transform: translate(-50%,0);
	text-align: center;
    z-index: 1000;
  }
}


header nav #ham-menu-bg {
  opacity: 0;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.99);
  display: block;
  position: fixed;
  z-index: -1;
  /*transition: all 0s linear 0s;*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

header nav #ham-menu-cb:checked ~ .ham-menu {
  opacity: 1.0;
  pointer-events: all;
}

header nav #ham-menu-cb:checked ~ #ham-menu-bg {
    opacity: 0.9;
    z-index: 999;
    pointer-events: all;
}



/*----------------------------- MAIN.ALL_PAGES -----------------------------*/


main {
  width: auto;
  margin: 191.5px 5% 114.9px; /*766*25%*/ /*766*15%*/
}
@media screen and (min-width: 768px) {
  main {
    margin-top: 25%;
    margin-bottom: 15%;
  }
}
@media screen and (min-width: 960px) {
  main {
    width: 864px; /*bodyWidth*/
    margin: 240px auto 144px; /*960*25%*/ /*960*15%*/
  }
}


main .header h2 {
  font-size: 3.2rem;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: bold; /*iphone効かないかも？*/
  margin-bottom: 6px;
}

main .header .updated-date .fas {
  font-size: 1.0rem;
  letter-spacing: 0.3rem;
}

main .header .updated-date {
  font-size: 1.1rem;
  color: #777;
}

main .header {
  margin-bottom: 26px;
}



/*----------------------------- MAIN.INDEX -----------------------------*/


main#index .movie section {
	border: solid 1px #AAA;
	box-sizing: border-box;
	padding: 16px;
	margin-bottom: 4%;
}

main#index .movie div:last-child {
	margin-bottom: 0;
}

main#index .movie {
	margin-bottom: 12%;
}

main#index .slider {
	margin-bottom: 10px;
}

main#index .design .footer_nav {
	position: relative;
	text-align: right;
}

main#index .design {
	margin-bottom: 12%;
}

main#index .updates ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


main#index .updates li {
  width: 100%;
  border: solid 1px #AAA;
  box-sizing: border-box;  
  padding: 16px;
  
  margin-top: 4%; /*！上向きマージン(footerとの距離維持のため)*/
}
@media screen and (min-width:768px){
  main#index .updates li {
    width: 48%;
  }
}


main#index .updates li:first-child {  
  margin-top: 0; /*１カラムのときは １番目の上向きマージンのみキャンセル*/
}
@media screen and (min-width:768px){
  main#index .updates li:nth-child(2) {  
    margin-top: 0; /*２カラムのときは２番目もキャンセルする*/
  }
}


main#index .updates h3 {
  font-size: 2rem;
  font-weight: bold;	
  margin-bottom: 10px;
  line-height: 24px;
}

main#index .updates h3 a {  
  /*negation of root*/
  text-decoration : none;
  color: #000;
}

main#index .updates .updated-date {
  /*same as other update_dates*/
  font-size: 1.1rem;
  color: #777;	
  margin-bottom: 14px;
}

main#index .updates .sentence {
  display: block;
  overflow: hidden;
  line-height: 1.8;
  height: 7.2em; /* 1em*行数(4)*line-height */
}

main#index .updates .footer_nav {
  line-height: 1.8;	
  margin-bottom: 14px;
}

main#index .updates img {
  height: 300px;
  object-fit: cover;
  object-position: center 30%;
}



/*----------------------------- MAIN.YOUTUBE (INDEX) -----------------------------*/


main#index .movie section {
	/*orverride MAIN.INDEX*/
	position: relative;
}

main#index .movie .youtube_thumb img {
	height: 300px;
  	object-fit: cover;
  	object-position: center 30%;
  	cursor: pointer;
}

main#index .movie section .fa-play-circle {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-size: 80px;
	color: #FFF;
	pointer-events: none;
}



/*----------------------------- MAIN.SLIDER (INDEX, BIO) -----------------------------*/


main#index .slider li,
main#biography .slider li {
	height: 300px;
}

main#index .slider .prev,
main#biography .slider .prev {
	position: absolute;
	left: -3%;
	top: 130px;
	cursor: pointer;
	font-size: 2rem;
}

main#index .slider .next,
main#biography .slider .next {
	position: absolute;
	right: -3%;
	top: 130px;
	cursor: pointer;
	font-size: 2rem;
}

main#index .slider img,
main#biography .slider img {
	border: solid 1px #AAA;
	box-sizing: border-box;
	padding: 2%;
	height: 100%;
	object-fit: cover;
	object-position: center 40%;
	margin-right: 5%;
}

.slider .slick-slide  {
    margin-left: 4px;
    margin-right: 4px;
}


/*----------------------------- MAIN.BIOGRAPHY -----------------------------*/


main#biography .slider {
  margin-bottom: 60px;
}

main#biography section:first-child {
  border-bottom: solid 1px #CCC;
  padding-bottom: 60px;
}

main#biography section:last-child {
  padding-top: 45px;
}

main#biography .sentence {
  line-height: 1.6;
}

main#biography .artist-name {
  font-weight: bold;
}



/*----------------------------- MAIN.SCHEDULE -----------------------------*/


main#schedule .date {
  font-size: 1.8rem;
}

main#schedule h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 13px;
  line-height: 20px;
}

main#schedule section p,
main#schedule ul li {
  margin-bottom: 12px;
}

main#schedule section {
  margin-bottom: 100px;
}

main#schedule section:last-child {
  margin-bottom: 0;
}



/*----------------------------- MAIN.LARGE_IMG (SCHE, BLOG, DISCO) -----------------------------*/


main#schedule img,
main#blog img,
main#discography img {
  border: solid 1px #AAA;
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
}
@media screen and (min-width:480px) {
  main#schedule img,
  main#blog img,
  main#discography img {
    width: 474px;
  }
}



/*----------------------------- MAIN.DESIGN -----------------------------*/


main#design ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main#design li {
  width: 46%;
  margin-bottom: 9%;
}
@media screen and (min-width: 600px){
  main#design li {
    width: 29%;
    margin-bottom: 7%;
  }
  
  main#design li:nth-child(3n+2):last-child {
    margin-right: 35.5%;
  }
}
@media screen and (min-width: 768px){
  main#design li {
    width: 21%;
    margin-bottom: 6%;
  }
  
  main#design li:nth-child(3n+2):last-child {
    margin-right: 0;
  }
  
  main#design li:nth-child(4n+2):last-child {
    margin-right: 52.8%;
  }
  
  main#design li:nth-child(4n+3):last-child {
    margin-right: 26.4%;
  }
}


main#design li img {
  border: solid 1px #AAA;
  box-sizing: border-box;
  object-fit: cover;
  padding: 4px;
  width: 100%;
  height: 100%;
}



/*----------------------------- MAIN.BLOG -----------------------------*/


main#blog .header h2 a,
main#blog section h3 a {
  /*negation of root*/
  text-decoration : none;
  color: #000;
}

main#blog section h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 13px;
  line-height: 20px
}

main#blog section p {
  margin-bottom: 12px;
  line-height: 1.6;
}

main#blog section {
  margin-bottom: 100px;
}

main#blog img {
  height: auto;
}



/*----------------------------- MAIN.DISCOGRAPHY -----------------------------*/


main#discography h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 13px;
  line-height: 20px
}

main#discography .fa-amazon {
  font-size: 3rem;
}

main#discography .fa-amazon,
main#discography ul,
main#discography section p {
  margin-bottom: 12px;
}

main#discography section p,
main#discography li {
  line-height: 2.0;
}

main#discography section {
  margin-bottom: 100px;
}

main#discography section:last-child {
  margin-bottom: 0;
}



/*----------------------------- FOOTER -----------------------------*/


footer {
  width: 100%;
  box-sizing: border-box;
  padding: 40px 5% 20px;
  background-color: #222;
}

footer nav {
  margin: 0 auto;
  width: auto;
}
@media screen and (min-width: 960px) {
  footer nav {
    width: 864px;
  }
}

footer nav .main li {
  font-size: 1.6rem;
  font-weight: bold; /*iphone効かないかも？*/
  margin-bottom: 30px;
}

footer nav .main li:last-child {
  margin-bottom: 0;
}

footer nav .main {
  margin-bottom: 40px;
}

footer nav .icons li {
  font-size: 2.0rem;
  margin-right: 40px;
}

footer nav .icons li:last-child {
  margin-right: 0;
}

footer nav .icons {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 32px;
}

footer small {
  display: block;
  font-size: 1rem;
  text-align: center;
  color: #999;
}



/*----------------------------- EOF -----------------------------*/
