<!DOCTYPE html>
<html lang="ja" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">

<footer th:fragment="footer">
      <nav>
        <ul class="main">
          <li><a href="/biography">プロフィール</a></li>
          <li><a href="/schedule">出演情報</a></li>
          <li><a href="/design">デザイン</a></li>
          <li><a href="https://taku-oshiba.com/blog/">ブログ</a></li>
          <li><a href="/discography">CD情報</a></li>
        </ul>
        <ul class="icons">
          <li><a href="https://twitter.com/piteredo" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.youtube.com/user/studiopite3" target="_blank"><i class="fab fa-youtube"></i></a></li>
          <li><a href="https://github.com/piteredo" target="_blank"><i class="fab fa-github"></i></a></li>
          <li><a href="mailto:piteredo@gmail.com?subject=(大柴拓サイトよりお問い合わせ)" target="_blank"><i class="far fa-envelope"></i></a></li>
        </ul>
      </nav>
      <small>2006-2018 &copy; Taku Oshiba All rights reserved.</small>
    </footer>
  </body>