<!DOCTYPE html>
<html lang="ja" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<header th:replace="/header.html::header('index, nofollow')"></header>
<main id="index">

  <article class="movie">
    <div th:each="youtube: ${youtubeList}"><iframe width="560" height="315"
        th:src="|https://www.youtube.com/embed/${youtube.src}?rel=0|"
        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </article>

  <article class="design">
    <ul class="slider">
      <li th:each="design: ${designList}">
        <a th:href="|https://taku-oshiba.com/img/design/${design.src}.jpg|" data-group="modal" class="modal">
          <img th:src="|https://taku-oshiba.com/img/design/${design.src}.jpg|" th:alt="${design.src}">
        </a>
      </li>
    </ul>
    <p class="footer_nav">
      <a href="/design">
        VIEW ALL&nbsp;<i class="fas fa-caret-square-right"></i>
      </a>
    </p>
  </article>


  <div class="updates">
    <div class="header">
      <h2>UPDATES</h2>
      <p class="updated-date"><i class="fas fa-sync"></i><time th:text="${biographyUpdatedate}"></time></p>
    </div>
    <ul>
      <!--<li th:each="b: ${biography}">
        <article>
          <div>
            <h3 th:text="${b.janame}"></h3>
            <p class="updated-date">
              <i class="fas fa-sync"></i>
              <time th:text="${biographyUpdatedate}"></time>
            </p>
          </div>
          <p th:text="${b.jatextplane}" class="sentence"></p>
          <p class="footer_nav">
             . . . .&nbsp;<a href="design.html">VIEW ALL&nbsp;<i class="fas fa-caret-square-right"></i></a>
          </p>
          <p>
            <img th:src="|https://taku-oshiba.com/img/bio/${photo.src}.jpg|" alt="${photo.src}">
          </p>
        </article>
      </li>-->
      <li th:each="u: ${updates}">
        <article>
          <div>
            <h3 th:text="${u.title}"></h3>
            <p class="updated-date">
              <i class="fas fa-sync"></i>
              <time th:text="${u.updateDate}"></time>
            </p>
          </div>
          <p th:text="${u.text}" class="sentence"></p>
          <p class="footer_nav">
             . . . .&nbsp;<a href="design.html">VIEW ALL&nbsp;<i class="fas fa-caret-square-right"></i></a>
          </p>
          <p>
            <img th:src="|https://taku-oshiba.com/img/${u.imgSrc}.jpg|" th:alt="${u.imgSrc}">
          </p>
        </article>
      </li>
    </ul>
  </div>

</main>
<footer th:replace="/footer.html::footer"></footer>
</html>
